body {
    font-family: Poppins;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 48px;
    margin-left: 25px;
}

h3 {
    font-size: 30px;
    margin-left: 25px;
}

h5 {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
    font-size: 20px;
}

ol {
    font-size: 20px;
}

p {
    font-size: 20px;
    margin-left: 25px;
}

a {
    font-size: 20px;
}

footer {
    margin-top: 60px;
}

footer a {
    font-size: 16px;
}